body {
    text-align: center;
    background-color: black;
    color: white;
}

.hints {
    cursor: pointer;

}

.hints-table {
    margin-top: 10px;
}


table {
    border: 1px solid black;
    margin: 50px auto;
    background-color: grey;
}



.board {
    background-color: grey;
    border: 1px solid black;
}

.cell {
    background-color: grey;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    display: inline-block;
    box-shadow: inset 2px 2px 1px;
}


/* .cell.mine.shown {
    background-color: red;
} */


/*  to see the mines locations, while working on the game */
/* .cell.mine {
    background-color: yellow;
} */

.cell.shown {
    background-color: white;
    color: green;
    box-shadow: inset -2px -2px 1px;
}

.cell.revealed {
    background-color: white;
    color: red;
    box-shadow: inset -2px -2px 1px;

}

.cell.marked {
    cursor: default;
}

.timer {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.play-again {
    font-size: 24px;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.smiley {
    margin-right: 10px;
}

.lives {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: greenyellow;
}

.footer {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
}